*.iml
*.ipr
*.iws
.idea
.idea_modules
*.*~
*.log
*.releaseBackup
target
project/boot
project/target
project/plugins/target
logs
.settings
.project
.classpath
.svn
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store

